
@font-face {
    font-family: "Nougat";
    src: url("../Brawl Star Font/Brawl-Star/Nougat-ExtraBlack.ttf");
}

body {
    background-image: url("../img/fond.png");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: justify;
}

header, footer {
    padding: 15px;
    text-align: center;
}

header img {
    border-radius: 8px;
    height: 20%;
    width: 40%;
}

footer p{
    color: white;
    font-size: 120%;

}

section {
    margin: 20px 20% 20px 20%;
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
}

h1, h2, h3{
    font-family: 'Bitstream Vera Serif Bold';
}
section h1 {
    color: black;
    text-align: center;
    font-size: 250%;
}
section ol, section ul{
    display: inline-block;
    text-align: left;
}

section a:hover {
    color: rgb(0, 0, 0);
    background-color: #ffc800;
    border-radius: 8px;
}

h2 ~ h3 {
    color: rgb(0, 0, 0);
    text-align: left;
}

section h2 {
    color: #4CAF50;
}

nav {
    display: block;
    padding: 10px;
    margin: 10px;
}

nav a {
    background-color: #edc948 ;
    text-decoration: none;
    color: #000000;
    border-radius: 8px;
    font-size: 30px;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #b39117;
    color: #ffffff;
}


#definition {
    font-size: 22.5px;
    text-align: center;
    font-style: bold;
    width: 70%;
    margin: auto;
    padding: 5px;
    color : #4e2300;
    
}

#perso {
    font-size: 22   px;
    text-align: center;
    font-style:oblique;
    width: 50%;
    margin: auto;
    padding: 10px;
}

#br {
background-color: #FDF6DC; /* Jaune doré */
justify-content: center;
align-items: center;
padding: 5%;
margin-bottom: 5%;
}

.left {
background-color: #FFD700; /* Jaune doré */
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}
.left img {
max-width: 80%;
height: auto;
}

.right {
background-color: #FDF6DC; /* Beige clair */
flex: 2;
padding: 40px;
box-sizing: border-box;
color: #333;
}

.right h1 {
margin-top: 0;
}

.right p {
line-height: 1.6;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #edc948; /* Couleur verte */
}
caption, thead {
    background-color: #edc948; /* Couleur verte */
    color: white;
}
caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
thead th {
    padding: 10px;
}
tbody td, tfoot td {
    padding: 10px;
}
tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Couleur de fond gris clair */
}
tbody tr:nth-child(even) {
    background-color: #f9eeee; /* Couleur de fond gris clair */
}
tbody tr td:hover{
    background-color: #1E50D5;
    color: #edc948;
}
tfoot tr {
    background-color: #1E50D5; /* Couleur verte */
    color: white;
}


main{
    margin: 30px auto 30px auto;
    border: 2px solid green;
    border-radius: 8px;
    width: 60%;
    padding: 10px;
}

form {
  background: #f8f9fa;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 700px;
  margin: auto;
  border: 2px solid #198754;
}

.question {
  margin-bottom: 1.5rem;
}

.question p {
  font-weight: bold;
  margin-bottom: .75rem;
  color: #212529;
  text-align: left;
}

.question label {
  display: block;
  margin: 0.4rem 0 0.4rem 1rem;
  font-size: 0.95rem;
  color: #343a40;
}

button {
  background-color: #198754;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  display: block;
  margin: 2rem auto 1rem auto;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #146c43;
}

#result {
  text-align: center;
  font-size: 1.25rem;
  color: #0d6efd;
  margin-top: 1.5rem;
}



/* Pour les prix star qui tourne */

.main-image-link {
  position: relative;
  display: inline-block;
}

/* étoiles “Prix star” */
.star-icon {
  position: absolute;
  top: 50%;
  height: 72%;
  width: 25%;  
  transform: translateY(-50%);
  transition: transform 0.6s ease;
  cursor: pointer;
}

/* étoile de gauche */
#star-left {
  left: 0%; 
}

/* étoile de droite */
#star-right {
  right: 0%;
}

/* Pour la rotation à 360° */
.star-icon.rotating {
  transform: translateY(-50%) rotate(360deg);
}


/* fleche */
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  background-color: #ffc107; 
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: opacity 0.3s;
  width: 60px;
  height: 60px;
}

#scrollTopBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#scrollTopBtn:hover {
  background-color: #ffca28;
}